<div class="container">
    <h3>Add Asset</h3>

    <h4 class="vmargin-top-large hr-below">Upload File from Computer</h4>

    <div class="vmargin-bottom-large"
         ng-file-drop="onFileSelect($files)"
         ng-file-drop-available="dropSupported=true">

        <div class="clearfix vmargin-bottom-small">
            <div class="col-md-2 text-right">
                <label for="fileSelect">Select File</label>
            </div>

            <div class="col-md-8">
                <div class="form-group" ng-hide="data.upload.file">
                    <span class="btn btn-primary btn-sm btn-file">
                        <span class="fa fa-file"></span> Browse... <input id="fileSelect" type="file" ng-file-select="onFileSelect($files)">
                    </span>

                    <div class="vmargin-top-small drag-and-drop-area text-center" ng-show="dropSupported" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">
                        <span class="fa-5x fa fa-file"></span><br>
                        ...or drag and drop a file here.
                    </div>

                    <div class="vmargin-top-small drag-and-drop-area text-center" ng-show="!dropSupported">Use the browse file button above to select a file from your computer.</div>
                </div>

                <div class="form-group input-group input-group-sm" ng-show="data.upload.file">
                    <input type="text" class="form-control" ng-model="data.upload.file.name" disabled />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" ng-click="remove()">
                            <span class="fa fa-ban"></span> Remove File
                        </button>
                    </span>
                </div>

                <progressbar ng-show="data.upload.file" animate="false" max="100" value="data.upload.progress" type="success"><strong>{{data.upload.progress}}%</strong></progressbar>
            </div>
        </div>

        <div class="clearfix vmargin-bottom-small hr-below">
            <form novalidate name="assetForm">
                <div class="clearfix vmargin-bottom-small">
                    <div class="col-md-2 text-right">
                        <label for="fileDisplayName">Display Name</label>
                    </div>

                    <div class="col-md-8 input-group-sm clearfix vmargin-bottom-small">
                        <input id="fileDisplayName" type="text" class="form-control" placeholder="Display Name (Required)" ng-model="data.asset.name" required />
                    </div>
                </div>

                <h4 class="vmargin-top-large hr-below">Asset Attributes</h4>

                <div class="clearfix vmargin-bottom-small">
                    <div class="col-md-2 text-right">
                        <label for="fileDescription">Description</label>
                    </div>

                    <div class="col-md-8 input-group-sm">
                        <textarea id="fileDescription" class="form-control vertical-only" rows="3" placeholder="Description of the asset" ng-model="data.asset.description"></textarea>
                    </div>
                </div>

                <div class="clearfix vmargin-bottom-small">
                    <div class="col-md-2 text-right">
                        <label for="fileTags">Tags</label>
                    </div>

                    <div class="col-md-8 input-group-sm">
                        <input id="fileTags" type="text" class="form-control" placeholder="Separate tags with commas" ng-model="data.asset.tag_list" />
                    </div>
                </div>

                <div class="clearfix vmargin-bottom-small">
                    <div class="col-md-2 text-right">
                        <label for="fileExpirationDate">Expiration Date</label>
                    </div>

                    <div class="col-md-3 input-group input-group-sm">
                        <input id="fileExpirationDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.expireAtOpen" show-weeks="false" ng-model="data.asset.deactive_at" placeholder="Asset expiration date"/><span class="input-group-btn"><button class="btn btn-default" ng-click="datepicker.open('expireAtOpen')"><i class="fa fa-calendar"></i></button></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="clearfix vmargin-bottom-small">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-primary btn-sm" ng-disabled="!data.upload.file || assetForm.$invalid" ng-click="startUpload()">
                    <span class="fa fa-cloud-upload"></span> Add Asset
                </button>

                <button class="btn btn-sm" ng-disabled="!data.upload.progress" ng-click="upload.abort()">
                    <span class="fa fa-reply"></span> Return to Asset Library
                </button>
            </div>
        </div>
    </div>
</div>