<div class="container">
    <div class="col-md-2 vmargin-top-large">
        <img src="{{asset.thumbs.mini}}" alt="{{asset.alt}}" />

        <dl class="smaller">
            <dt>Filename</dt>
            <dd>{{asset.file_name}}</dd>

            <dt>File Type</dt>
            <dd>{{asset.content_type}}</dd>

            <dt>File Size</dt>
            <dd>{{asset.file_size | bytes}}</dd>

            <dt>Dimensions</dt>
            <dd>{{asset.dimensions.0}} x {{asset.dimensions.1}}</dd>

            <dt>Author</dt>
            <dd>{{asset.creator.name}}</dd>

            <dt>Created</dt>
            <dd>{{asset.created_at | date:"y/M/d h:mm:ss a"}}</dd>

            <dt>Last Modified</dt>
            <dd>{{asset.updated_at | date:"y/M/d h:mm:ss a"}}</dd>

            <dt>Last Published</dt>
            <dd>Placeholder</dd>

            <dt>Direct URL</dt>
            <dd><a href="{{asset.attachment_url}}">{{asset.attachment_url}}</a></dd>
        </dl>
    </div>

    <div class="col-md-10 vmargin-bottom-large">
        <h3 class="vmargin-bottom-large">
            Asset Details: [{{asset.name}}]
        </h3>

        <form novalidate name="assetForm">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Image Properties</h3>
                </div>

                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Asset Display Name</dt>
                        <dd class="vmargin-bottom-small"><input id="asset-display-name" type="text" class="form-control input-sm" ng-model="asset.name" required maxlength="100"></dd>

                        <dt>Alt Text</dt>
                        <dd><input id="asset-alt" type="text" class="form-control input-sm" ng-model="asset.alt" maxlength="100"></dd>
                    </dl>
                </div>
            </div><!--/panel panel-info-->

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Catalog Data</h3>
                </div>

                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Description</dt>
                        <dd class="vmargin-bottom-small"><textarea id="asset-description" class="form-control input-sm" rows="3" ng-model="asset.description"></textarea></dd>

                        <dt>Phase</dt>
                        <dd class="vmargin-bottom-small">
                            <select id="asset-phase" class="form-control input-sm">
                                <option>Sample Phase Name 1</option>
                                <option>Sample Phase Name 2</option>
                                <option>Sample Phase Name n</option>
                            </select>
                        </dd>

                        <dt>Category</dt>
                        <dd class="vmargin-bottom-small">
                            <select id="asset-category" class="form-control input-sm">
                                <option>Sample Category 1</option>
                                <option>Sample Category 2</option>
                                <option>Sample Category n</option>
                            </select>
                        </dd>

                        <dt>Tags</dt>
                        <dd class="vmargin-bottom-small"><input id="asset-tags" type="text" class="form-control input-sm" rows="3" ng-model="data.tags"></dd>
                    </dl>
                </div>
            </div><!--/panel panel-info-->

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Status</h3>
                </div>

                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Status</dt>
                        <dd class="vmargin-bottom-small">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-primary" ng-model="asset.active" btn-radio="true">Active</button>
                                <button type="button" class="btn btn-primary" ng-model="asset.active" btn-radio="false">Inactive</button>
                            </div>
                        </dd>

                        <dt>Expiration Date</dt>
                        <dd class="vmargin-bottom-small input-group form-group">
                            <input type="text" class="form-control input-sm" datepicker-popup="{{datepicker.format}}"
                                   is-open="datepicker.expireAtOpen"
                                   show-weeks="false"
                                   ng-model="asset.deactive_at" />
                            <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="datepicker.open('expireAtOpen')"><i class="fa fa-calendar"></i></button></span>
                        </dd>
                    </dl>
                </div>
            </div><!--/panel panel-info-->

            <button type="button"
                    class="btn btn-sm btn-primary"
                    ng-disabled="assetForm.$invalid || !assetForm.$dirty"
                    ng-click="update()">Update</button>
            <button type="button"
                    class="btn btn-sm btn-default"
                    ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>
