<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default"
         ng-file-drop="onFileSelect($files)"
         ng-file-drop-available="dropSupported=true">
        <div class="panel-heading h3">Upload File</div>

        <div class="panel-body">

            <div class="form-group" ng-hide="data.upload.file">
                <span class="help-block text-center" ng-show="dropSupported" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">Drag a file into this panel or use the button below to select</span>
                <span class="help-block text-center" ng-show="!dropSupported">Use the button below to select a file from your computer</span>
                <span class="btn btn-primary btn-block btn-file">
                    <span class="glyphicon glyphicon-file"></span> Browse Computer <input type="file" ng-file-select="onFileSelect($files)"/>
                </span>
            </div>

            <div class="form-group input-group" ng-show="data.upload.file">
                <input type="text" class="form-control" ng-model="data.upload.file.name" disabled />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="remove()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Remove
                    </button>
                </span>
            </div>

            <progress percent="data.upload.progress" ng-show="data.upload.file"></progress>

            <form novalidate name="assetForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name (Required)" ng-model="data.asset.name" required />
                    <span class="help-block">Provide a clean display name</span>
                </div>
                <div class="form-group">
                    <textarea class="form-control vertical-only" rows="3" placeholder="Description" ng-model="data.asset.description"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tags" ng-model="data.asset.tag_list" />
                    <span class="help-block">Use commas to separate tags</span>
                </div>
                <div class="input-group form-group">
                    <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}"
                                                            is-open="datepicker.expireAtOpen"
                                                            show-weeks="false"
                                                            ng-model="data.asset.deactive_at"
                                                            placeholder="Expiration Date"/>
                    <span class="input-group-btn"><button class="btn btn-default" ng-click="datepicker.open('expireAtOpen')"><i class="icon-calendar"></i></button></span>
                </div>
            </form>

            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-block btn-danger" ng-disabled="!data.upload.progress" ng-click="upload.abort()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-block btn-success" ng-disabled="!data.upload.file || assetForm.$invalid" ng-click="startUpload()">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Save
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>