<div class="container">

    <div class="col-md-offset-2 col-md-10">
        <h3>Upload New File</h3>

        <div class="form-group col-sm-12">
            <h5><strong>Upload File from Computer</strong></h5>
        </div><!--/form-group col-sm-12-->

        <div class="form-group">
            <label for="inputFile" class="col-sm-2 control-label small">Select File</label>
            <div class="col-sm-6">
                <input type="hidden" ng-model="myModelObj">
                <input type="file" id="inputFile" ng-file-select="onFileSelect($files)">

                <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dragDropUpload" ng-show="dropSupported">Or drag and drop file here.</div>
                <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                <p class="help-block smaller">Allowed file types: .avi, .doc, .docx, .gif, .jpg, .mov, .mp4, .pdf, .png, .txt, .xls, .xlsx, .zip</p>

                <!--begin progress bar and thumbnail display - we can reposition/resize the elements within this div later-->
                <div ng-show="selectedFiles != null">
                    <div class="sel-file" ng-repeat="f in selectedFiles">
                        <img ng-show="dataUrls[$index]" src="{{dataUrls[$index]}}">
                        <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				                    <span class="progress" ng-show="progress[$index] >= 0">
					                    <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				                    </span>
                        <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    </div>
                </div>
                <!--end progress bar and thumbnail display-->
            </div><!--/col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->

        <div class="form-group">
            <label for="inputDisplayName" class="col-sm-2 control-label small">Display Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDisplayName" placeholder="Display Name">
                <p class="help-block smaller">Provide a clean display name for the asset in case the filename is not clear or descriptive.</p>
            </div><!--/col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->

        <div class="form-group col-sm-12">
            <h5><strong>File Attributes (Optional)</strong></h5>
        </div><!--/form-group col-sm-12-->

        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label small">File Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="inputDescription" maxlength="200" placeholder="Description"></textarea>
                <p class="help-block smaller">Maximum 200 characters.</p>
            </div><!--/col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->

        <div class="form-group">
            <label for="inputTags" class="col-sm-2 control-label small">Tags</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputTags" placeholder="Tags">
                <p class="help-block smaller">Use commas between tags to separate them.</p>
            </div><!--/col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->

        <div class="form-group">
            <label for="inputExpirationDate" class="col-sm-2 control-label small">Expiration Date</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputExpirationDate" placeholder=""><span class="input-group-btn"><button class="btn btn-default"><i class="icon-calendar"></i></button></span>
            </div><!--/col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button class="btn btn-primary btn-sm">Upload</button>
                <button class="btn btn-default btn-sm">Cancel</button>


            </div><!--/col-sm-offset-2 col-sm-6-->

            <div class="clearfix"></div><!--/clearfix-->
        </div><!--/form-group-->
    </div><!--/col-md-10-->
</div><!--/container-->
