////////////////////////////////
// Mixins (Should be moved to separate file)

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin navbar-bg-position($vertical-pos) {
  background-position: center $vertical-pos;
}

@mixin navbar-bg-position-dual($vertical-pos) {
  background-position: center $vertical-pos, center bottom;
}

@mixin hmargin-left($margin) {
  margin-left: $margin;
}

@mixin hmargin-right($margin) {
  margin-right: $margin;
}

@mixin vmargin-top($margin) {
  margin-top: $margin;
}

@mixin vmargin-bot($margin) {
  margin-bottom: $margin;
}

////////////////////////////////
// Container

// Wow, people have screens *much* larger than 1200px
@media (min-width: 1400px) {
  .container.content {
    width: 1400px;
  }
}

////////////////////////////////
// Typography

.smaller {
  font-size: 75%;
}

.word-break-all {
  word-break: break-all;
}

////////////////////////////////
// Margins

// Keeping the hard-defined margins until refactoring is complete

.hmargin-left-small {
  margin-left: 10px;
}

.hmargin-right-small {
  margin-right: 10px;
}

.vmargin-top-small {
  margin-top: 10px; 
}

.vmargin-top-large {
  margin-top: 20px; 
}

.vmargin-bottom-small {
  margin-bottom: 10px;  
}

.vmargin-bottom-large {
  margin-bottom: 20px;  
}

////////////////////////////////
// Decorative Styles

.hr-below {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f47937;
}

////////////////////////////////
// Bootstrap Restyling/Overrides

header div.container {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}

.container {
  .btn{
    border: 1px solid #f47937;
    background: white;
    color: black;
  }

  .btn:hover {
    background: #FFA178;
    color: white;
  }

  button.active, .btn-primary {
    @include gradient-vertical(#FFA178, #E9743A, 0%, 100%);
    color: white;
  }

  .navbar-collapse {
    @media (max-width: 768px) {
      box-shadow: none;
    }
  }

  .navbar-form {
    margin: 5px 0 0.625em 0;
    padding: 0;

    .btn-search {
      width: 2em;
      border: none;
      @include border-right-radius(5px);
      background-color: rgba(255,255,255,0.05);
      color: white;
    }
  }

  .pagination {
    @include vmargin-top(0);
  }
}

legend {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #f47937;
  padding-top: 10px;
  @include vmargin-bot(10px);
}

dl.dl-horizontal {
  @include vmargin-bot(10px);
}

////////////////////////////////
// Alerts

// Fix message flash transition
.alert-flash:not(.in) {
  height: 0;
  transition-property: all;
}

////////////////////////////////
// Sidebar Filters

.filter-group {
  button{
    @include vmargin-top(10px);
    @include vmargin-bot(10px);
  }

  legend {
    padding-bottom: 3px;
    @extend .small;
    @extend .text-muted;
    @include vmargin-bot(10px);
  }

  .input-group button {
    @include vmargin-top(0);
    @include vmargin-bot(0);
  }

  label {
    font-weight: normal;
  }
}

////////////////////////////////
// Inputs

/*
// Emphasize required input fields
input.form-control[required]:not(:focus) {
  border-color: $gray;
  @include placeholder {
    color: #000;
  }
}
*/

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
}

.drag-and-drop-area {
  height: 8.5em;
  padding: 1em;
  border: 1px dashed #f47937;
  border-radius: 5px;
  @include vmargin-top(10px);
}

textarea.vertical-only { resize: vertical; }

////////////////////////////////
// Transitions

.fade {
  transition-property: all;
  height: 0;
  &.in {
    height: auto;
  }
}

.fade-slow {
  opacity: 0;
  height: 0;
  @include transition(opacity .3s linear);
  transition-property: all;
  &.in {
    height: auto;
    opacity: 1;
  }
}

////////////////////////////////
// Posts Index Table

.posts-table th{
  cursor: default;
  background: white;
}

.posts-table thead tr:hover {
  color: black;
}

.posts-table tbody tr:hover {
  @extend .btn:hover;
}

////////////////////////////////
// Cortex Navbar

.nav li a { 
  padding: 10px;
}

.navbar-admin {
  @include gradient-vertical-three-colors(#022745, #104070, 70%, #09335B);
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
}

.nav-button {
  color: white;
  font-size: 22px;
}

.menu-item-bg {
  background: url(../assets/admin/header-sprites.png) no-repeat, url(../assets/admin/header-active.png) repeat-x;
  padding-top: 5.35em;
  padding-bottom: 0.75em;
  @media (max-width: 767px) {
      background: none;
      padding: 0.5em 0.5em 0.5em 2em;
  }
}

.profile-search {
  width: 12.5em;

  @media (max-width: 991px) {
    @include hmargin-left(5px);
      }
}

.navbar-profile-box {
  width: 11.6em;
  padding: .31em;
  margin-top: 0.625em;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.05);
  color: white;
  @include text-overflow();

  .navbar-profile-avatar {
    width: 40px;
    height: 40px;
  }

  .navbar-profile-text {
    width: 7.5em;
    @include hmargin-left(5px);
  }
}

.form-search{
  height: 1.67em;
  width: 11.7em !important;
  border: none;
  background-color: rgba(255,255,255,0.05);
  color: white;
  @include border-left-radius(5px);
}

.navbar-items-admin {
  a {
    color: white;
  }

  a:hover {
    @media (max-width: 767px) {
      color: #f47937;
    }
  }

  li.active{
    background: url(../assets/admin/header-active.png) center bottom repeat-x;
    @media (max-width: 767px) {
      background: #eee;
      font-weight: bold;

      a {
        color: #f47937;
      }
    }
  }

  a.navbar-item, a.navbar-item:hover, a.navbar-item:focus {
    @extend .menu-item-bg;
  }

  a.navbar-item-tenant {
    @include navbar-bg-position(-100px);
  }

  a.navbar-item-tenant:hover, a.navbar-item-tenant:focus {
    @include navbar-bg-position-dual(0);
  }

  a.navbar-item-media {
    @include navbar-bg-position(-300px);
  }

  a.navbar-item-media:hover, a.navbar-item-media:focus {
    @include navbar-bg-position-dual(-200px);
  }

  a.navbar-item-permissions {
    @include navbar-bg-position(-500px);
  }

  a.navbar-item-permissions:hover, a.navbar-item-permissions:focus {
    @include navbar-bg-position-dual(-400px);
  }

  a.navbar-item-posts {
    @include navbar-bg-position(-700px);
  }

  a.navbar-item-posts:hover, a.navbar-item-posts:focus {
    @include navbar-bg-position-dual(-600px);
  }

  a.navbar-item-apps {
    @include navbar-bg-position(-900px);
  }

  a.navbar-item-apps:hover, a.navbar-item-apps:focus {
    @include navbar-bg-position-dual(-800px);
  }
}

////////////////////////////////
// Modal Dialogs
@media (min-width: 992px) {
  .modal-xl {
    width: 1200px; } }

////////////////////////////////
// AngularJS
[ng-click], [ui-sref] { cursor: pointer; }
