/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
 @import 'variables';

/* abn_tree - SASS version of angular-bootstrap-nav-tree's CSS */
@import 'abn_tree.scss';

@import 'states/admin.assets.manage.scss';

.smaller {
  font-size: 75%;
}

// Temporary Hack for Bootstrap navbar (for use with dev navbar)
.navbar-fixed-top {
  height: 30px;
  min-height: 30px;

  .navbar-nav > li > a {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}