<div class="container">
    <h3>Add Post</h3>

    <div class="col-md-8">
        <h4 class="vmargin-top-large hr-below">Post Details</h4>

        <form novalidate name="postForm">
            <fieldset>
                <dl class="dl-horizontal">
                    <dt><label for="postType">Post Type</label></dt>
                    <dd class="vmargin-bottom-small">
                        <div id="postType" class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.type" btn-radio="'article'">Article</button>
                            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.type" btn-radio="'video'">Video</button>
                            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.type" btn-radio="'infographic'">Infographic</button>
                            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.type" btn-radio="'promo'">Promo</button>
                        </div>
                    </dd>

                    <dt><label for="postHeadline">Headline</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="postHeadline" type="text" class="form-control" placeholder="Post headline (required)" ng-model="data.post.title" required>
                    </dd>

                    <dt><label for="postShortDesc">Description</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="postShortDesc" type="text" class="form-control" placeholder="Teaser text for post (required)" ng-model="data.post.short_description" required>
                    </dd>

                    <dt><label for="postAuthor">Author</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="postAuthor" type="text" class="form-control" placeholder="Author of post (required)" ng-model="data.post.author" required>
                    </dd>

                    <dt><label for="postBody">Body</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <textarea id="postBody" class="form-control" rows="10" ng-model="data.post.body" redactor></textarea>
                    </dd>

                    <dt><label for="postCopyright">Copyright Owner</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="postCopyright" type="text" class="form-control" placeholder="Copyright owner of this post (if different from author)" ng-model="data.post.copyright_owner">
                    </dd>

                    <dt><label for="postTags">Post Tags</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="postTags" type="text" class="form-control" placeholder="Separate tags with commas" ng-model="data.post.tag_list">
                    </dd>
                </dl>

                <h4 class="vmargin-top-large hr-below">SEO Information</h4>

                <dl class="dl-horizontal">
                    <dt><label for="seoTitle">Title</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="seoTitle" type="text" class="form-control" placeholder="HTML meta title" ng-model="data.post.seo_title">
                    </dd>

                    <dt><label for="seoDescription">Description</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <input id="seoDescription" type="text" class="form-control" placeholder="HTML meta description" ng-model="data.post.seo_description">
                    </dd>

                    <dt><label for="seoPreview">Search Display Preview</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <textarea id="seoPreview" class="form-control" rows="5" disabled="disabled" ng-model="data.post.seo_preview"></textarea>
                    </dd>
                </dl>

                <h4 class="vmargin-top-large hr-below">Publish Status</h4>

                <dl class="dl-horizontal">
                    <dt><label for="publishStatus">Status</label></dt>
                    <dd class="input-group-sm vmargin-bottom-small">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-primary" ng-model="data.post.draft" btn-radio="true">Draft</button>
                            <button type="button" class="btn btn-primary" ng-model="data.post.draft" btn-radio="false">Published</button>
                        </div>
                    </dd>
                </dl>

                <h4 class="vmargin-top-large hr-below">Publish Schedule</h4>

                <dl class="dl-horizontal hr-below">
                    <dt><label for="postPublishDate">Publish Date</label></dt>
                    <dd class="input-group input-group-sm vmargin-bottom-small">
                        <input id="postPublishDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.publishAtOpen" show-weeks="false" ng-model="data.post.published_at" placeholder="Immediately"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker.open('publishAtOpen')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </dd>

                    <dt><label for="postExpireDate">Expiration Date</label></dt>
                    <dd class="input-group input-group-sm vmargin-bottom-small">
                        <input id="postExpireDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.expireAtOpen" show-weeks="false" ng-model="data.post.expired_at" placeholder="No expiration date"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker.open('expireAtOpen')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </dd>

                    <dt></dt>
                    <dd>
                        <em>This post will be published to <strong>Advice &amp; Resources</strong> on <strong>{{ data.post.published_at | date:'yyyy/MM/dd' }}</strong> <span ng-if="!data.post.expired_at"> and will not expire</span><span ng-if="data.post.expired_at"> and will expire on <strong>{{ data.post.expired_at | date:'yyyy/MM/dd' }}</strong></span>.</em>
                    </dd>
                </dl>
            </fieldset>
        </form>

        <dl class="dl-horizontal">
            <dt></dt>
            <dd class="input-group-sm vmargin-bottom-small">
                <button class="btn btn-primary btn-sm" ng-disabled="postForm.$invalid"  ng-click="data.savePost()">
                    <span class="fa fa-cloud-upload"></span> Update
                </button>

                <button class="btn btn-sm">
                    <span class="fa fa-search"></span> Preview
                </button>
            </dd>
        </dl>
    </div>

    <div class="col-md-4 input-group-sm">
        <h4 class="vmargin-top-large hr-below">Career Phase</h4>

        <div class="input-group-sm">
            <select id="postPhase" class="form-control" ng-model="data.post.job_phase">
                <option ng-repeat="phase in data.phases" value="{{ phase }}">
                    {{phase | humanize}}
                </option>
            </select>
        </div>

        <span ng-if="data.jobPhaseCategories.length">
            <h4 class="vmargin-top-large hr-below">Categories</h4>

            <div class="checkbox-list">
                <div class="checkbox" ng-repeat="category in data.jobPhaseCategories">
                    <label>
                        <input type="checkbox" ng-model="category.$selected">
                        {{ category.name }}
                    </label>
                </div>
            </div>
        </span>

        <h4 class="vmargin-top-large hr-below">Home Page Display</h4>

        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.display" btn-radio="'small'">Small</button>
            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.display" btn-radio="'medium'">Medium</button>
            <button type="button" class="btn btn-default btn-sm" ng-model="data.post.display" btn-radio="'large'">Large</button>
        </div>

        <h4 class="vmargin-top-large hr-below">Featured Image</h4>

        <button type="button" class="btn btn-primary btn-sm" ng-model="data.post.featured_image_url">Browse...</button>

        <!--here is a button that allows you to pick an image media from the media library, I suppose it would work similarly to the file upload control, but it's pulling from the library rather than your computer-->

        <h4 class="vmargin-top-large hr-below">Discussion</h4>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Allow comments
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Allow trackbacks and pings
            </label>
        </div>

        <h4 class="vmargin-top-large hr-below">Admin Notes</h4>

        <textarea id="adminNotes" class="form-control" rows="5" ng-model="data.post.notes"></textarea>

        <!--<h4 class="vmargin-top-large hr-below">Statistics and Tracking</h4>

        <hr>-->

        <!-- implement statistics and tracking later, not in AC for current sprint -->
    </div>
</div>
