.admin-media {

  #media-filter-date-clear-btn {
    margin-top: 10px;
  }

  #media-grid {
    height: 400px;
  }

  #batch-and-search {
    margin-bottom: 10px;
  }

  #media-search {
    width: 250px;
  }
}