.admin-assets {

  #asset-filter-date-clear-btn {
    margin-top: 10px;
  }

  #asset-grid {
    height: 400px;
  }

  #batch-and-search {
    margin-bottom: 10px;
  }

  #asset-search {
    width: 250px;
  }
}