<div class="container">
    <div class="col-md-2 vmargin-top-large">
		<img src="{{asset.attachment_thumb_url}}" height="100" width="100" alt="Placeholder" />
		
		<dl class="smaller">
			<dt>File Type</dt>
			<dd>{{asset.content_type}}</dd>
			
			<dt>File Size</dt>
			<dd>{{asset.file_size | bytes}}</dd>
			
			<dt>Dimensions</dt>
			<dd>{{asset.dimensions.0}} x {{asset.dimensions.1}}</dd>
			
			<dt>Author</dt>
			<dd>{{asset.creator.name}}</dd>
			
			<dt>Created</dt>
			<dd>{{asset.created_at | date:"y/M/d h:mm:ss a"}}</dd>
			
			<dt>Last Modified</dt>
			<dd>{{asset.updated_at | date:"y/M/d h:mm:ss a"}}</dd>
			
			<dt>Last Published</dt>
			<dd>Placeholder</dd>
			
			<dt>Direct URL</dt>
			<dd><a href="{{asset.attachment_url}}">{{asset.attachment_url}}</a></dd>
		</dl>
	</div>

    <div class="col-md-10">
		<h3 class="vmargin-bottom-large">
            Asset Details: [{{asset.name}}]
            <button type="button" ui-sref="admin.assets.edit({assetId: asset.id})" class="btn btn-primary pull-right">
                Edit Asset Details
            </button>
        </h3>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Image Properties</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Filename</dt>
					<dd>{{asset.file_name}}</dd>
					
					<dt>Alt Text</dt>
					<dd>Placeholder</dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Catalog Data</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Asset Display Name</dt>
					<dd>{{asset.name}}</dd>
					
					<dt>Description</dt>
					<dd>{{asset.description}}</dd>
					
					<dt>Phase</dt>
					<dd>Discovery</dd>
					
					<dt>Category</dt>
					<dd>How to Search</dd>
					
					<dt>Tags</dt>
					<dd>{{asset.tags|tagList}}</dd>
					
					<dt>Associated Packages</dt>
					<dd></dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Status</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Status</dt>
					<dd>Active</dd>
					
					<dt>Expiration Date</dt>
					<dd>{{asset.deactive_at | date:"y/M/d"}}</dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
	</div>
</div>