<div class="container">
    <div class="col-md-2 vmargin-top-large">
		<img src="assets/admin/placeholder.gif" height="100" width="100" alt="Placeholder" />
		
		<dl class="smaller">
			<dt>File Type</dt>
			<dd>image/gif</dd>
			
			<dt>File Size</dt>
			<dd>3KB</dd>
			
			<dt>Dimensions</dt>
			<dd>100x100</dd>
			
			<dt>Author</dt>
			<dd>sblack</dd>
			
			<dt>Created</dt>
			<dd>11/30/2013</dd>
			
			<dt>Last Modified</dt>
			<dd>12/1/2013</dd>
			
			<dt>Last Published</dt>
			<dd>12/1/2013</dd>
			
			<dt>Direct URL</dt>
			<dd><a href="http://cbcortex.com/assets/fileurl.jpg">http://cbcortex.com/assets/fileurl.gif</a></dd>
		</dl>
	</div>

    <div class="col-md-10">
		<h3 class="vmargin-bottom-large">Asset Details <button type="button" class="btn btn-primary pull-right">Edit Asset Details</button></h3>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Image Properties</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Filename</dt>
					<dd>placeholder.gif</dd>
					
					<dt>Alt Text</dt>
					<dd>Placeholder</dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Catalog Data</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Asset Display Name</dt>
					<dd>Sample image</dd>
					
					<dt>Description</dt>
					<dd>Lorem ipsum dolor sit amet</dd>
					
					<dt>Phase</dt>
					<dd>Discovery</dd>
					
					<dt>Category</dt>
					<dd>How to Search</dd>
					
					<dt>Tags</dt>
					<dd>test, image, asset, demo, jpg</dd>
					
					<dt>Associated Packages</dt>
					<dd></dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Status</h3>
			</div>
			
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Status</dt>
					<dd>Active</dd>
					
					<dt>Expiration Date</dt>
					<dd>12/12/2016</dd>
				</dl>
			</div>
		</div><!--/panel panel-info-->
		
	</div>
</div>